<div class="row">
    <div class="col-md-6">
        <%= form_for(@like) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.hidden_field :post_id, value: @post_id %>

            <%= f.submit "Like", class: "col-md-2 btn btn-success" %>
        <% end %>
    </div>
</div>